<!doctype html>
<meta http-equiv="refresh" content="3"> 
<html>
  <head>
    <title>COOKIE {{ component_name }}</title>
    <style>
      * {
        box-sizing: border-box;
      }
      
      /* Create three unequal columns that floats next to each other */
      .column {
        float: left;
        padding: 40px;
      }
      
      .left, .right {
        width: 30%;
      }
      
      .middle {
        width: 40%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
  </head>
  <body>
    <p style="font-size: 50px;font-family: Helvetica;text-align: center;margin-bottom:10px;margin-top:10px">This is the {{ component_name }} system</p>

    <div class="row">
      <!-- OVEN -->
      <div class="column left" style="padding-left: 80px;">
        
      </div>

      <!-- SPACE -->
      <div class="column middle">
        </div>
        <div class="row">
          <p style="font-size: 30px;font-family: Helvetica;">Packing machine 2 is {{ packing2_state }}</p>
          {% if packing2_state == "ON" %}
          <img src="{{ url_for('static', filename='images/pack2off.png') }}" class="image" />
          {% else %}
          <img src="{{ url_for('static', filename='images/pack2on.png') }}" class="image" />
          {% endif %}
        </div>
      </div>

      <!-- PACKING MACHINE 2 -->
      <div class="column right">
        
      </div>
    </div>
    
  </body>
</html>